[user]
	name = Ylan Segal
	email = ylan.segal@mellmo.com
[core]
	excludesfile = /Users/ylansegal/.gitignore
	editor = subl -w
[color]
	diff = auto
	status = auto
	branch = auto
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  histdate = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  hist = log --graph --pretty=format:'%Cred%h%Creset %an -%C(yellow)%d%Creset %s %Cgreen(%cd)%Creset' --date=short --abbrev-commit -20 
  type = cat-file -t
  dump = cat-file -p
  web = instaweb --httpd webrick
  merg = merge --no-ff
  dc = diff --cached
  ai = add -p
[push]
# Push current branch even if you've never pushed it before
default = current
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[http]
	sslVerify = false
