ssh/known_hosts
settings/.atom/blob-store
settings/.atom/compile-cache
settings/.atom/dev
settings/.atom/storage
settings/.atom/.node-gyp
settings/.atom/.npm
settings/.atom/.apm
settings/.atom/packages/
settings/.atom/atom-shell/
settings/.atom/recovery/
