"*":
  "advanced-open-file":
    defaultInputValue: "Project root"
    fuzzyMatch: true
  "atom-beautify":
    general:
      _analyticsUserId: "2042c787-a923-474d-ac97-45db44046617"
  "atom-codesearch": {}
  "atom-elixir-formatter": {}
  "atom-fuzzy-grep":
    detectGitProjectAndUseGitGrep: false
  "atom-lint": {}
  "atom-notes":
    directory: "/Users/ylans/Personal/Notes"
    useLunrPipeline: false
  "atom-package-deps":
    ignored: []
  "atom-terminal-panel": {}
  autocomplete:
    includeCompletionsFromAllBuffers: true
  "autocomplete-plus":
    enableAutoActivation: false
    includeCompletionsFromAllBuffers: true
  "autocomplete-ruby": {}
  awiki:
    wikiLocation: "/Users/ylansegal/iCloud/Wiki/"
  "bracket-matcher":
    highlightMatchingLineNumber: true
  core:
    closeDeletedFileTabs: true
    customFileTypes:
      "source.ruby.gemfile": [
        "Gemfile.shared"
      ]
    disabledPackages: [
      "policeman-rubocop"
      "autocomplete-paths"
      "autocomplete-snippets"
      "rspec-snippets"
      "bookmarks"
      "fancy-new-file"
      "atom-lint"
      "pretty-json"
      "linter-crystal"
      "linter-elixir-credo"
      "github"
      "linter"
      "autocomplete-java"
      "plantuml-viewer"
    ]
    ignoredNames: [
      ".git"
      ".DS_Store"
      "Thumbs.db"
      ".zeus.sock"
    ]
    packagesWithKeymapsDisabled: [
      "zentabs"
      "atom-elixir-formatter"
    ]
    projectHome: "/Users/ylansegal/mellmo-git"
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "limited"
    themes: [
      "unity-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    confirmCheckoutHeadRevision: false
    fontFamily: "Hack"
    fontSize: 16
    invisibles: {}
    lineHeight: 1.25
    preferredLineLength: 120
    scrollPastEnd: true
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "af6fb80d-448d-6726-ae3a-044bfd6711ee"
  "fancy-new-file": {}
  "find-and-replace":
    useRipgrep: true
  "fuzzy-finder":
    ignoredNames: [
      ".gitignore"
      ".gitmodules"
    ]
    scoringSystem: "fast"
    useRipGrep: true
  "git-blame":
    columnWidth: 405
    customCommitUrlTemplateString: "https://github.mellmo.lan/<%- project %>/<%- repo %>/commit/<%- revision %>"
    useCustomUrlTemplateIfStandardRemotesFail: true
  "git-diff":
    showIconsInEditorGutter: true
  "ide-java":
    javaHome: "/Users/ylans/.asdf/installs/java/adopt-openjdk-11.0.6+10"
  "language-markdown":
    addListItems: false
  linter:
    lintOnChange: false
    lintOnEditorFocus: false
  "linter-crystal":
    command: "compile"
  "linter-elixir-credo":
    flags: "--strict"
  "linter-elixirc":
    elixircExecutablePath: "/usr/local/bin/elixirc"
  "linter-javac":
    classpathFilename: ".classpath-atom"
    verboseLogging: true
  "linter-rubocop":
    command: "shim_rubocop"
  "linter-spell":
    spellPath: "aspell"
  "linter-ui-default":
    panelHeight: 75
    showPanel: true
  "markdown-preview":
    grammars: [
      "source.gfm"
      "source.litcoffee"
      "text.html.basic"
      "text.md"
      "text.plain"
      "text.plain.null-grammar"
      "source.gfm.notes"
    ]
    openPreviewInSplitPane: false
    useGitHubStyle: true
  metrics:
    userId: "fb069a61625718a624211f08b631024e164870ca"
  minimap:
    autoToggle: false
    plugins:
      "git-diff": true
  "one-light-ui": {}
  "plantuml-viewer":
    liveUpdate: false
  "rails-rspec": {}
  "release-notes":
    viewedVersion: "0.95.0"
  rspec:
    command: "smart_rspec"
    force_colored_results: false
  "spell-check":
    addKnownWords: true
    excludedScopes: [
      "markup.raw.gfm"
      "interlink"
    ]
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "source.rst"
      "text.restructuredtext"
      "source.gfm.notes"
    ]
    knownWords: [
      "Procore"
      "idempotency"
      "Haiyang"
      "Ylan"
      "Segal"
    ]
    useLocales: false
  "split-diff":
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    scrollSyncType: "Vertical + Horizontal"
  "status-bar": {}
  "tab-smart-sort": {}
  tabs:
    addNewTabsAtEnd: true
  "terminal-panel": {}
  "tree-view":
    alwaysOpenExisting: true
    squashDirectoryNames: true
  "unity-ui":
    colorStatusIndicatorsInTreeView: true
    showIcons: true
  welcome:
    showOnStartup: false
  "white-cursor": {}
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  wikilink: {}
  zentabs:
    maximumOpenedTabs: 10
    neverCloseDirty: true
    neverCloseNew: true
    neverCloseUnsaved: true
".basic.html.text":
  editor:
    preferredLineLength: 120
".diff.source":
  editor:
    softWrap: true
    softWrapAtPreferredLineLength: true
".elixir.html.text":
  editor:
    preferredLineLength: 120
".elixir.source":
  editor:
    preferredLineLength: 120
".elixir.text":
  editor:
    preferredLineLength: 120
".erb.html.text":
  editor:
    preferredLineLength: 120
".git-commit.text":
  editor:
    preferredLineLength: 72
".haml.text":
  editor:
    preferredLineLength: 120
".hamlc.text":
  editor:
    preferredLineLength: 120
".html.php.text":
  editor:
    preferredLineLength: 120
".html.ruby.text":
  editor:
    preferredLineLength: 120
".js.rails.source source.jquery.js":
  editor:
    preferredLineLength: 120
".md.text":
  editor:
    softWrapAtPreferredLineLength: true
".rails.rjs.ruby.source":
  editor:
    preferredLineLength: 120
".rails.ruby.source":
  editor:
    preferredLineLength: 120
".rspec.ruby.source":
  editor:
    preferredLineLength: 120
".ruby.source":
  editor:
    preferredLineLength: 120
".ruby.source.sql":
  editor:
    preferredLineLength: 120
".source.wiki":
  editor:
    softWrap: true
    softWrapAtPreferredLineLength: true
