# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
'.source.gfm':
  'ruby':
    'prefix': 'ruby'
    'body': """
      ```ruby
      $1
      ```$0
    """
  'sql':
    'prefix': 'sql'
    'body': """
      ```sql
      $1
      ```$0
    """
  'json':
    'prefix': 'json'
    'body': """
      ```json
      $1
      ```$0
    """
  'java':
    'prefix': 'java'
    'body': """
      ```java
      $1
      ```$0
    """
  'bash':
    'prefix': 'bash'
    'body': """
      ```bash
      $1
      ```$0
    """
  'w':
    'prefix': 'w'
    'body': """
      [[Procore/$1]]: $0
    """
  'wt':
    'prefix': 'wt'
    'body': """
      - [ ] [[Procore/$1]]: $0
    """
